
<!-- This is the users claim opinion entry page Fix align -->
<html>
  <head>
    <title>Claim Checker</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet">
    <script src="https://use.fontawesome.com/6f35c618a4.js"></script>
  </head>
  <body>
  <header>
  <nav>
    <a href="/#"><i class="fa fa-home" aria-hidden="true" style="color:#BF5700"></i>&nbsp;Home</a>
    <a href="/about.html"><i class="fa fa-info-circle" aria-hidden="true" style="color:#BF5700"></i>&nbsp;About</a>
  </nav>
  </header>
  <main style="width:500px;margin-left:auto;margin-right:auto;max-width:90%;">
  <h1>News Fact Checker</h1>
      <h2 style="position: relative; color: #BF5700; text-align: center; margin-top: 50px; ">About</h2>

  <h3>People contributed to this project:</h3>
  <div class="span4">
    Brent Biglin<br>
    Anubrata Das<br>
    Aditya Kharosekar<br>
    Saumyaa Krishnan<br>
    Siddhesh Krishnan<br>
    Matthew Lease <br>
    ChiaHui Liu<br>
    An Thanh Nguyen<br>
    Shravan Ravi<br>
    Alex Swearingen<br>
    Elizabeth Tate<br>
    Jyothi Keshavan Vinjumur<br>
    Byron Wallace
</div>

<h3>The following paper describes the method:</h3>
<div class="span4">
  An Thanh Nguyen, Aditya Kharosekar, Matthew Lease, and Byron C. Wallace. <br>
  <a href="http://www.cs.utexas.edu/~atn/nguyen-aaai18.pdf"> An Interpretable Joint Graphical Model for Fact-Checking from Crowds</a> <br>
  In Proceedings of the AAAI Conference on Artificial Intelligence (<b>AAAI-18</b>)<br>

</div>
  </main>

  <footer>
      <p style="/* font-size: 20px; *//* line-height: 25px; */">
          <strong>
              Important Disclaimer: This is a research prototype, shared online only to demonstrate a potential
              user-interface and transparent AI model framework for explainable fact-checking.
          </strong>
          <br/>
          The results provided by this research prototype may be incorrect, and users are encouraged to consult other
          resources and services to meet their trusted fact-checking needs.
      </p>
      <!--p>This tool is a research prototype and is provided without warranty.</p-->
  </footer>
  </body>
</html>
