<!DOCTYPE html>
<html lang="en">
<head>
  <title>Source Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet">
  <script src="https://use.fontawesome.com/6f35c618a4.js"></script>
  <script type="text/javascript"></script>
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/themes/base/jquery-ui.css">

  <script type="text/javascript" src="{{ url_for('static', filename='jquery.tablesorter.min.js') }}"></script>
  <script>
  $(document).ready(function(){
    $(function(){
      $("#mytable").tablesorter();
            });
          });
  </script>

  <style>
    .affix {
        top: 0;
        right: 450px;
        width: 50%;
        z-index: 1;
    }

    .affix + .container {
        padding-top: 70px;
    }
    .linksHandCursor {
      cursor: pointer;
    }

    .wrong {
      color: red;
    }

    .correct {
      color:#55db1c;
    }
    </style>

</head>
<body>
  <header>
  <nav>
  <a href="/#"><i class="fa fa-home" aria-hidden="true" style="color:#BF5700"></i>&nbsp;Home</a>
  <a href="/about/"><i class="fa fa-info-circle" aria-hidden="true" style="color:#BF5700"></i>&nbsp;About</a>
  </nav>
  </header>
  <h1>Claim Checker</h1>
  <!--{{Source}} gets the argument passed to this html file -->
  <h2 style="position: relative; color: #BF5700; text-align: center; margin-top: 50px; ">{{source}}</h2>
  <p style="position: relative; color: #BF5700; text-align: center; margin-top: 50px; ">(Click or hover over <i class="glyphicon glyphicon-question-sign"></i> for help )</p>

  <div class="container">
    <h2 style="position: relative; color: #BF5700; text-align: center; margin-top: 50px; ">Source Reputation <a href="#" title="Source Reputation" data-toggle="popover" data-trigger="focus hover" data-content="We predict this source's reputation using its articles from Google"><i class="glyphicon glyphicon-question-sign"></i></a> </h2>

    <nav class="navbar navbar-inverse" data-spy="affix" data-offset-top="150">
      <h2 style="position: relative; color: #BF5700; text-align: center; margin-top: 10px; "> Predicted Reputation of {{source}}<a href="#" title="Predicted Reputation" data-toggle="popover"  data-trigger="focus hover" data-content="Based on the above articles (with their stances and source reputation), we predict the correctness of the claim"><i class="glyphicon glyphicon-question-sign"></i></a> </h2>
      <br>
      <div class="progress" id="progress">
          <div id = "vera_false" class="progress-bar progress-bar-danger" role="progressbar" style="color: #BF5700; width:50%">
            <p style="color: #ffffff" title="Wrong Percentage" data-toggle="popover" data-trigger="focus hover" data-placement = "top" data-content="Hello">Wrong</p>
          </div>
          <div id = "vera_unk" class="progress-bar progress-bar-warning" role="progressbar" style="color: #BF5700; width:30%">
              <p style="color: #ffffff" title = "Unknown Percentage" data-toggle="popover" data-trigger="focus hover" data-placement = "top" data-content="Hello">Unknown</p>
          </div>
          <div id = "vera_true" class="progress-bar progress-bar-success" role="progressbar" style="color: #BF5700; width:20%">
              <p style="color: #ffffff" title = "Correct Percentage" data-toggle="popover" data-trigger="focus hover" data-placement = "top" data-content="Hello">Correct</p>
          </div>
      </div>
    </nav>

    <table class="table" id="mytable" style="margin-top: 50px">
      <thead>
        <tr>
          <th class="col-md-1" style="color: #BF5700">Claim <a href="#" title="Claim"></a> </th>
          <th class="col-md-1" style="color: #BF5700">Article <a href="#" title="Article" data-toggle="popover" data-trigger="focus hover" data-content="The article on this claim which was published by this source"><i class="glyphicon glyphicon-question-sign"></i></a> </th>
          <th style="color: #BF5700">Article Stance on Claim<a href="#" title="Predicted Stance" data-toggle="popover" data-trigger="focus hover" data-placement="bottom" data-content="We predict whether an article is for, against or neutral with respect to the claim"><i class="glyphicon glyphicon-question-sign"></i></a></th>
          <th style="color: #BF5700">Veracity of Claim <a href="#" title="Predicted Claim Veracity" data-toggle="popover" data-trigger="focus hover" data-placement="left" data-content="This is our prediction on whether this claim is true or not"><i class="glyphicon glyphicon-question-sign"></i></a> </th>
        </tr>
      </thead>
      <tbody>
        {% for i  in range(0,num_rows) %} <!--num_rows is passed from app.py -->
        <tr class="accordion-toggle" data-toggle="collapse" data-target="#accordion" class="clickable">
          <td>
            <form method="post" id="formFromSourcePage{{i}}" action="/test/">
              <input type="hidden" name="claim" id="text{{i}}" value="{{claims[i]}}">
            </form>
            <a id="link{{i}}" class="linksHandCursor" onclick="newResults({{i}}, this)">{{claims[i]}}</a>
          </td>
          <td>
            <a href="{{article_urls[i]}}" target="_blank">{{articles[i]}}</a>
          </td>
          <td width="2%">
            <div id = "stance{{i}}">{{stances[i]}}</div>
          </td>
          <td width="2%">
            <div id="veracity{{i}}">{{claim_veracities[i]}}</div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

<br>
<br>
</div>

  <footer>
      <p style="/* font-size: 20px; *//* line-height: 25px; */">
          <strong>
              Important Disclaimer: This is a research prototype, shared online only to demonstrate a potential
              user-interface and transparent AI model framework for explainable fact-checking.
          </strong>
          <br/>
          The results provided by this research prototype may be incorrect, and users are encouraged to consult other
          resources and services to meet their trusted fact-checking needs.
      </p>
      <!--p>This tool is a research prototype and is provided without warranty.</p-->
  </footer>

<script>

  $(document).ready(function(){
      $('[data-toggle="popover"]').popover();
      $('.progress').popover({
        html: true,
        content: function() {
          return
        }
      })
      formatStances();

  });

  function newResults(val) {
    document.getElementById("formFromSourcePage"+val).submit()
  }

  function formatStances() {
    for (let i=0; i<{{num_rows}}; i++) {
      var x = document.getElementById("stance"+i); //getting the particular stance (3rd column)
      var y = document.getElementById("veracity"+i) //getting the veracity (4th column)

      //the claims the source got right
      if (x.innerHTML==="for" && y.innerHTML==="true") {
        x.setAttribute("class", "correct");
      }
      if (x.innerHTML==="against" && y.innerHTML==="false") {
        x.setAttribute("class", "correct");
      }

      //the claims the source got wrong
      if (x.innerHTML==="for" && y.innerHTML==="false") {
        x.setAttribute("class", "wrong");
      }
      if (x.innerHTMl==="against" && y.innerHTML==="true") {
        x.setAttribute("class", "wrong");
      }
    }
  }
  </script>
</body>
</html>
